.form {
    display: block;

    width: 40em;
    margin-top: 5%;
    padding: 0.5em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);


    /* border: 3px solid red; */
    border-radius: 5px;
    background-color: #252525;
    color: white;
}

.form--title {
    background-color: inherit;
    font-size: 2em;
    margin-bottom: 1.5rem;
}

.form--content {
    background-color: inherit;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form--item {
    background-color: inherit;
}

.form--item-label {
    background-color: inherit;
}

.form--footer {
    background-color: inherit;
}

/* submit button */
.form--button {
    font-size: 1rem;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 4px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 60%;
}

.form--button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 4px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.form--button:main,
.form--button:focus {
    user-select: auto;
}

.form--button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.form--button:disabled {
    cursor: auto;
}

.form--button:active {
    border-width: 4px 0 0;
    background: none;
}